# Workflow triggered to adjust `CHANGELOG.md` and properties files.

name: Post Release Updates

on:
  workflow_call:
    inputs:
      release-version:
        required: true
        type: string

jobs:
  post-release-updates:
    name: Post Release Updates
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:

      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v4

      # Set up Java environment for the next steps
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      # Setup Gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      # Update Plugin Version to new one
      - name: Update Version
        run: |
          VERSION="${{ inputs.release-version }}"
          sed -i "s/version.*/version=$VERSION/g" gradle.properties

      # Update Unreleased section with the current release note
      - name: Patch Changelog
        run: ./gradlew patchChangelog

      # Update Samples Version to newly published one
      - name: Update Samples Version
        run: |
          VERSION="${{ inputs.release-version }}"
          sed -i "s/pythonPluginVersionForExamples.*/pythonPluginVersionForExamples=$VERSION/g" gradle.properties

      # Create a pull request
      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION="${{ inputs.release-version }}"
          BRANCH="post-release-update-$VERSION"
          LABEL="post release update"
          
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          
          git checkout -b $BRANCH
          git commit -am "Post release update - $VERSION"
          git push --set-upstream origin $BRANCH
          
          gh label create "$LABEL" \
            --description "Pull requests with post release updates" \
            --force \
            || true
          
          gh pr create \
            --title "Post release update - \`$VERSION\`" \
            --body "Current pull request contains patched files for the \`$VERSION\` version." \
            --label "$LABEL" \
            --head $BRANCH
